<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistic Map of Canada</title>
    <link rel="stylesheet" href="../assets/css/map.css">
</head>
<body>
    <div id="map-container">
        <div class="marker" id="BC-marker" data-info=""></div>
        <div class="marker" id="Alberta-marker" data-info=""></div>
        <div class="marker" id="Saskatchewan-marker" data-info=""></div>
        <div class="marker" id="Manitoba-marker" data-info=""></div>
        <div class="marker" id="Ontario-marker" data-info=""></div>
        <div class="marker" id="Quebec-marker" data-info=""></div>
        <div class="marker" id="New-Brunswick-marker" data-info=""></div>
        <div class="marker" id="PEI-marker" data-info=""></div>
        <div class="marker" id="Nova-Scotia-marker" data-info=""></div>
        <div class="marker" id="Newfoundland-Labrador-marker" data-info=""></div>
        <div class="marker" id="Yukon-marker" data-info=""></div>
        <div class="marker" id="Northwest-Territories-marker" data-info=""></div>
        <div class="marker" id="Nunavut-marker" data-info=""></div>
    </div>    
    <script src="../assets/js/map.js"></script>
</body>
</html>
